
<app-header></app-header>
<div class="main">
  <!-- leftbox -->
  <div class="left-box">
    <!-- headerbar-left -->
    <span class="header-bar">
      <!-- left-div -->
      <span class="div1">
        <span class="group" (click)="onIcon1Json()">
          <fa-icon icon="bars-staggered"></fa-icon>
          <!--<span class="toolkit">FormatData</span>-->
        </span>
        <span class="group" (click)="onIcon2Json()">
          <fa-icon icon="bars"></fa-icon>
          <!--<span class="toolkit">CompactJson</span>-->
        </span>
      </span>

      <!-- right-div -->
      <span class="div2">
        <span (click)="onSampleData()" class="sample mainstyel">Sample</span>
        <input type="file" #fileInput (change)="onFileSelect($event)" style="display: none" accept=".json" multiple />
        <span class="group" (click)="fileInput.click()">
          <fa-icon icon="folder"></fa-icon>
          <!--<span class="toolkit">OpenFile</span>-->
        </span>
        <span class="group" (click)="copyClipboard(inputValue)">
          <fa-icon icon="copy"></fa-icon>
          <!--<span class="toolkit">Copy</span>-->
        </span>
        <span class="group" (click)="clearContent('input')">
          <fa-icon icon="trash"></fa-icon>
          <!--<span class="toolkit">Delete</span>-->
        </span>
        <span class="group" (click)="toggleFullScreen('left')">
          <fa-icon icon="expand"></fa-icon>
          <!--<span class="toolkit fullscreen-tooltip">FullScreen</span>-->
        </span>
      </span>
    </span>

    <!-- left Editor Container -->
    <div #editorContainer class="editor-container mainstyel"></div>
  </div>

  <!-- middle box -->
  <div class="middle-box">
    <div class="middle-box-upperarea">

      <button class="middle-button" (click)="onConvertJson()">
        Format / Beautifier
      </button>
      <button class="middle-button" (click)="OnConvertMinify()">
        Minify / Compact
      </button>
      <button class="middle-button" (click)="onEncoded()">Encode</button>
      <button class="middle-button" (click)="onDecodeAndFormat()">Decode</button>

    </div>

    <div class="middle-box-lowerarea" *ngIf="isLoggedIn" [class.disabled]="!isLoggedIn">
      <div>
        <select class="operation-select" [(ngModel)]="selectedLowerOperation" (change)="onLowerOperationChange()">
          <option value="" disabled>Select Operation</option>
          <option value="web">Web decryption and Encryption</option>
          <option value="secure">Secure your data</option>
          <option value="protect">Protect your information</option>
          <option value="choose">Choose your operation</option>
        </select>

        <!-- Web Option -->
        <div *ngIf="selectedLowerOperation === 'web'" class="btn">
          <button class="middle-button" (click)="encrypt(inputValue)">Encrypt</button>
          <button class="middle-button" (click)="decrypt(inputValue)">Decrypt</button>
        </div>

        <!-- Secure Option -->
        <div *ngIf="selectedLowerOperation === 'secure'" class="btn">
          <button class="middle-button" (click)="encrypt(inputValue)">Encrypt</button>
          <!--<button class="middle-button" (click)="webDecrypt()">Decrypt</button>-->
        </div>

        <!-- Protect Option -->
        <div *ngIf="selectedLowerOperation === 'protect'" class="btn">
          <button class="middle-button" (click)="encrypt(inputValue)">Encrypt</button>
          <!--<button class="middle-button" (click)="webDecrypt()">Decrypt</button>-->
        </div>

        <!-- Choose Option -->
        <div *ngIf="selectedLowerOperation === 'choose'" class="btn">
          <button class="middle-button" (click)="encrypt(inputValue)">Encrypt</button>
          <!--<button class="middle-button" (click)="webDecrypt()">Decrypt</button>-->
        </div>
      </div>
    </div>
  </div>

  <!-- rightbox -->
  <div class="right-box">
    <span class="header-bar">
      <span class="div1">
        <span class="group tooltip-container" (click)="onIcon3Json()">
          <fa-icon icon="bars-staggered"></fa-icon>
          <!--<span class="toolkit">FormatData</span>-->
        </span>
        <span class="group" (click)="onIcon4Json()">
          <fa-icon icon="bars"></fa-icon>
          <!--<span class="toolkit">CompactJson</span>-->
        </span>
        <span class="group" (click)="onIcon5Json()">
          <fa-icon icon="arrow-left"></fa-icon>
          <!--<span class="toolkit">CompactJson</span>-->
        </span>
        <span class="search-container">
          <input type="text" class="search-input" [(ngModel)]="searchQuery" placeholder="Search..."
                 (input)="onSearch()" />
          <span class="search-controls">
            <button class="search-button" (click)="navigateSearch(false)" [disabled]="searchResults.length === 0">
              <fa-icon [icon]="'chevron-up'"></fa-icon>
            </button>
            <span class="search-count">
              {{ searchResults.length > 0 ? currentSearchIndex + 1 : 0 }}/{{
            searchResults.length
              }}
            </span>
            <button class="search-button" (click)="navigateSearch(true)" [disabled]="searchResults.length === 0">
              <fa-icon [icon]="'chevron-down'"></fa-icon>
            </button>
          </span>
        </span>
      </span>
      <span class="div2">
        <span class="group" (click)="downloadContent()">
          <fa-icon icon="download"></fa-icon>
          <!--<span class="toolkit">Download</span>-->
        </span>
        <span class="group" (click)="copyClipboard(outputValue)">
          <fa-icon icon="copy"></fa-icon>
          <!--<span class="toolkit">Copy</span>-->
        </span>
        <span class="group" (click)="clearContent('output')">
          <fa-icon icon="trash"></fa-icon>
          <!--<span class="toolkit">Delete</span>-->
        </span>
        <span class="group" (click)="toggleFullScreen('right')">
          <fa-icon icon="expand"></fa-icon>
          <!--<span class="toolkit fullscreen-tooltip">FullScreen</span>-->
        </span>
      </span>
    </span>
    <div class="output-container">
      <div #outputEditorContainer class="editor-container mainstyel"></div>
    </div>
  </div>
</div>
