<div class="container">
  <div class="login-box">
    <img src="infinnium-logo-light.svg" alt="Logo" class="logo" />
    <!-- <h2>Login</h2> -->

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="myForm">
      <!-- User ID -->
      <div class="form-group">
        <label for="userId" class="form-label">User ID</label>
        <input type="text" id="userId" formControlName="userName" placeholder="Enter your User ID" class="form-control"
          required />
        <div *ngIf="userName?.invalid && (userName?.dirty || userName?.touched)" class="error">
          <div *ngIf="userName?.errors?.['required']">User ID is required</div>
          <div *ngIf="userName?.errors?.['minlength']">User ID must be at least 6 characters</div>
        </div>
      </div>

      <!-- Password -->
      <div class="form-group password-group">
        <label for="password" class="form-label">Password</label>
        <div class="inner-input">
          <!-- Wrapper for input and icon -->
          <div class="input-wrapper">
            <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
              placeholder="Enter your Password" class="form-control" required />
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error">
              <div *ngIf="password?.errors?.['required']">Password is required</div>
              <div *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters</div>
            </div>
            <!-- Icon inside input -->
            <span class="toggle-icon" (click)="togglePasswordVisibility()">
              <img *ngIf="showPassword" src="UnVisibility.svg" alt="Hide Password" class="icon" />
              <img *ngIf="!showPassword" src="Visibility.svg" alt="Show Password" class="icon" />
            </span>
          </div>
        </div>

      </div>


      <!-- Authentication Error -->
      <div *ngIf="loginError" class="error" style="margin-top: 10px;">
        {{ loginError }}
      </div>

      <!-- Submit Button -->
      <button type="submit" [disabled]="loginForm.invalid" class="btn">
        Login
      </button>
    </form>
  </div>
</div>