

.editor
{
  border: 3px solid #154163;
}



@media (min-width: 1024px) {
  .main {
    flex-direction: row;
  }
  .left-box {
    width: 42%;
  }
  .right-box {
    width: 42%;
  }
}

@media (max-width: 1024px) {
  .main {
    height: auto;
    min-height: 94vh;
  }
}
