/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow: hidden;
}
/* main box Css */
.main {
  width: 100%;
  height: 94%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #dedddd;
  padding: 5px;
}

/* left Box and Right Box Css */
.left-box,
.right-box {
  width: 100%;
}
.right-box .div1 {
  width: 35%;
}
.right-box .div2 {
  width: 35%;
}
.header-bar {
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #234653;
  color: #ffffff;
  padding: 0 8px;
  overflow: hidden;
}
.div1 {
  width: 50%;
  display: flex;
  gap: 15px;
  align-items: center;
}
.div2 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}
.div1:hover,
.div2:hover {
  cursor: pointer;
}

/* Sample */
.sample {
  padding: 4px 8px;
}
.sample:hover {
  text-decoration: underline;
  background-color: #234653;
  border-radius: 4px;
}

/* Hover Iocn */
.group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
}
.toolkit {
  visibility: hidden;
  opacity: 0;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
  white-space: nowrap;
  font-size: 12px;
}

/* Tooltip arrow */
.toolkit::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.group:hover .toolkit {
  visibility: visible;
  opacity: 1;
}
.mainstyel {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

/* middle Box Css */
.middle-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding: 16px;
  padding-top: 3%;
}

.middle-button {
  border: 2px solid;
  border-radius: 7px;
  font-size: 20px;
  color: #234653;
  transition: all 0.3s;
  background-color: transparent;
}

.middle-button:hover {
  background-color: #234653;
  color: #ffffff;
  border-color: #234653;
  cursor: pointer;
}

/* Highlight Word in JSonFormatter */
.ace_editor .search-highlight {
  position: absolute;
  background-color: #ffff0063;
}
.ace_editor .search-highlight-current {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.281);
  z-index: 20;
}

@media (max-width: 1024px) {
  .toolkit {
    font-size: 12px;
    max-width: 150px;
    padding: 4px 8px;
  }
}

@media (min-width: 1024px) {
  .middle-box {
    width: 16%;
    padding: 0;
    padding-top: 3%;
  }
}
@media (min-width: 1024px) {
  .main {
    flex-direction: row;
  }
}

@media (max-width: 1024px) {
  .main {
    height: auto;
    min-height: 94vh;
  }
}

@media (min-width: 1024px) {
  .left-box {
    width: 42%;
  }
  .right-box {
    width: 42%;
  }
}


